altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
babel==2.17.0
Beaker==1.12.1
beautifulsoup4==4.14.3
binaryornot==0.4.4
bleach==6.2.0
blinker==1.9.0
blivet @ file:///builddir/build/BUILD/python-blivet-3.13.2-build/blivet-3.13.2
blivet-gui==2.6.0
Brlapi==0.8.7
cachetools==6.2.4
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-362-build/cockpit-362/tmp/wheel/cockpit-362-py3-none-any.whl#sha256=a58100d7b054f1045e44ec3dd522c668a810e37d4f519988ec469b87a17d1e7c
comm==0.2.3
contourpy==1.3.3
cookiecutter==2.6.0
cramjam==2.11.0
crypt_r==3.13.1
cryptography==48.0.0
cupshelpers==1.0
curl_cffi==0.13.0
cycler==0.12.1
daemonize==2.5.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
dnf==4.24.0
docutils==0.22.4
executing==2.2.1
fastapi==0.128.3
fastjsonschema==2.21.2
fastparquet==2025.12.0
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.24.3
filetype==1.2.0
flet==0.82.0
flet-cli==0.82.0
flet-desktop-light==0.82.0
flet-web==0.80.5
fonttools==4.60.1
fqdn==1.5.1
frozendict==2.4.7
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
google==3.0.0
greenlet==3.2.4
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanize==4.15.0
idna==3.11
iniconfig==2.3.0
ipykernel==7.0.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
iso639==0.1.4
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.16
jupytext==1.19.0
Kivy-Garden==0.1.5
kiwisolver==1.4.9
langtable==0.0.70
lark==1.3.0
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.1
louis==3.33.0
lxml==6.1.1
Mako==1.2.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.1.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.1.4
msgpack==1.1.2
multitasking==0.0.12
narwhals==2.14.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nftables==0.1
notebook==7.4.7
notebook_shim==0.2.4
numpy==2.3.4
oauthlib==3.3.1
olefile==0.47
packaging==25.0
paho-mqtt==1.6.1
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
Paste==3.10.1
peewee==3.19.0
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.0.0
platformdirs==4.5.0
plotly==6.7.0
pluggy==1.6.0
productmd==1.50
prometheus_client==0.23.1
prompt_toolkit==3.0.52
protobuf==6.33.4
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py4j==0.10.9.9
pyarrow==22.0.0
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.23
pycrypto==2.6.1
pycups==2.0.4
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pyenchant==3.3.0
Pygments==2.19.2
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyOpenSSL==26.1.0
pyparsing==3.2.5
pyparted==3.13.0
pyserial==3.5
PySocks==1.7.1
pyspark==4.1.1
pytest==9.0.2
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
python-slugify==8.0.4
pytz==2025.2
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
pyzmq==27.1.0
qrcode==8.2
RapidFuzz==3.14.3
referencing==0.37.0
regex==2026.2.28
repath==0.9.0
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.2
rpds-py==0.27.1
rpm==6.0.1
scipy==1.17.0
seaborn==0.13.2
selinux @ file:///builddir/build/BUILD/libselinux-3.10-build/libselinux-3.10/src
Send2Trash==1.8.3
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.10-build/selinux-3.10/python/sepolicy
setools==4.6.0
setproctitle==1.3.7
setuptools==80.9.0
simpleline==1.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sos==4.11.1
soupsieve==2.8.3
SQLAlchemy==2.0.44
stack-data==0.6.3
starlette==0.52.1
streamlit==1.52.2
systemd-python==235
tenacity==9.1.2
terminado==0.18.1
text-unidecode==1.3
tinycss2==1.4.0
toml==0.10.2
tornado==6.5.2
traitlets==5.14.3
types-python-dateutil==2.9.0.20251008
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uri-template==1.3.0
urllib3==2.7.0
user-agents==2.2.0
uv==0.10.7
uvicorn==0.40.0
uvloop==0.22.1
virtualenv==20.38.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
widgetsnbextension==4.0.15
xkbregistry==0.3
yfinance==1.1.0
